html{
    background-color: rgb(100, 77, 77);
}

body { 
    margin: 0; 
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(107, 61, 53);
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
}
#navBar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.navContent{
    font-size: 20px;
    width: 200px;
    background-color: rgb(107, 61, 53);
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    opacity: 1;
    transition: 0.4s;
    font-style: italic;
    font-weight: bold;
}

.navContent:hover{
    opacity: 0.6;
}
.active{
    background-color: rgb(175, 141, 141);
    color: white;
}

#home1{
    background-color: rgb(65, 25, 18);
    border-radius: 40px;
    width: fit-content;
    width: 650px;
    height: 1000px;
    margin: 0 auto;
    position: relative;
    margin-top: 150px;
}

#img1{
    height: 300px;
    width: 600px;
}

#headerOutside{
    display: flex;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 70px;
    width: 400px;
    text-align: center;
    font-size: 50px;
    color: rgb(207, 139, 100);
    font-style: italic;
    font-weight: bold;
}

#beerIcon{
    height: 65px;
    transform: rotate(-45deg);
    padding-left: 1px;
}

#contactContent{
    background-color: rgb(65, 25, 18);
    border-radius: 40px;
    width: fit-content;
    width: 650px;
    height: 1000px;
    margin: 0 auto;
    position: relative;
    margin-top: 150px;
    padding: 20px;
}

#img1{
    margin-left: 25px;
}

#info1{
    padding: auto;
    color: rgb(207, 139, 100);
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}